_site
.sass-cache
.idea
.local
.local/*
package.json
node_modules/jekyll/test/test_utils.rb
node_modules/jekyll/test/test_url.rb
node_modules/jekyll/test/test_tags.rb
node_modules/jekyll/test/test_site.rb
node_modules/jekyll/test/test_sass.rb
node_modules/jekyll/test/test_related_posts.rb
node_modules/jekyll/test/test_regenerator.rb
node_modules/jekyll/test/test_redcarpet.rb
node_modules/jekyll/test/test_rdiscount.rb
node_modules/jekyll/test/test_post.rb
node_modules/jekyll/test/test_plugin_manager.rb
node_modules/jekyll/test/test_path_sanitization.rb
node_modules/jekyll/test/test_page.rb
node_modules/jekyll/test/test_new_command.rb
node_modules/jekyll/test/test_log_adapter.rb
node_modules/jekyll/test/test_liquid_extensions.rb
node_modules/jekyll/test/test_layout_reader.rb
node_modules/jekyll/test/test_kramdown.rb
node_modules/jekyll/test/test_generated_site.rb
node_modules/jekyll/test/test_front_matter_defaults.rb
node_modules/jekyll/test/test_filters.rb
node_modules/jekyll/test/test_excerpt.rb
node_modules/jekyll/test/test_entry_filter.rb
node_modules/jekyll/test/test_draft.rb
node_modules/jekyll/test/test_document.rb
node_modules/jekyll/test/test_convertible.rb
node_modules/jekyll/test/test_configuration.rb
node_modules/jekyll/test/test_command.rb
node_modules/jekyll/test/test_collections.rb
node_modules/jekyll/test/test_coffeescript.rb
node_modules/jekyll/test/test_cleaner.rb
node_modules/jekyll/test/suite.rb
node_modules/jekyll/test/source/z_category/_posts/2008-9-23-categories.textile
node_modules/jekyll/test/source/win/_posts/2009-05-24-yaml-linebreak.markdown
node_modules/jekyll/test/source/unpublished.html
node_modules/jekyll/test/source/static_files.html
node_modules/jekyll/test/source/sitemap.xml
node_modules/jekyll/test/source/properties.html
node_modules/jekyll/test/source/products.yml
node_modules/jekyll/test/source/pgp.key
node_modules/jekyll/test/source/js/coffeescript.coffee
node_modules/jekyll/test/source/index.html
node_modules/jekyll/test/source/foo/_posts/bar/2008-12-12-topical-post.textile
node_modules/jekyll/test/source/exploit.md
node_modules/jekyll/test/source/environment.html
node_modules/jekyll/test/source/deal.with.dots.html
node_modules/jekyll/test/source/css/screen.css
node_modules/jekyll/test/source/css/main.scss
node_modules/jekyll/test/source/contacts/index.html
node_modules/jekyll/test/source/contacts/bar.html
node_modules/jekyll/test/source/contacts.html
node_modules/jekyll/test/source/category/_posts/2008-9-23-categories.textile
node_modules/jekyll/test/source/about.html
node_modules/jekyll/test/source/_with.dots/file.with.dots.md
node_modules/jekyll/test/source/_with.dots/all.dots/2.4.0.md
node_modules/jekyll/test/source/_slides/octojekyll.png
node_modules/jekyll/test/source/_slides/non-outputted-slide.html
node_modules/jekyll/test/source/_slides/example-slide-5.html
node_modules/jekyll/test/source/_slides/example-slide-4.html
node_modules/jekyll/test/source/_slides/example-slide-3.html
node_modules/jekyll/test/source/_slides/example-slide-2.html
node_modules/jekyll/test/source/_slides/example-slide-1.html
node_modules/jekyll/test/source/_sass/_grid.scss
node_modules/jekyll/test/source/_posts/include_relative/rel_include.html
node_modules/jekyll/test/source/_posts/include_relative/params.html
node_modules/jekyll/test/source/_posts/es/2008-11-21-nested.textile
node_modules/jekyll/test/source/_posts/2015-01-08-post-excerpt-separator.markdown
node_modules/jekyll/test/source/_posts/2014-11-24-Rmd-extension.Rmd
node_modules/jekyll/test/source/_posts/2014-09-02-relative-includes.markdown
node_modules/jekyll/test/source/_posts/2014-07-05-mixed-case-category.markdown
node_modules/jekyll/test/source/_posts/2014-07-05-another-mixed-case-category.markdown
node_modules/jekyll/test/source/_posts/2014-03-22-escape-+ %20[].markdown
node_modules/jekyll/test/source/_posts/2014-03-03-yaml-with-dots.md
node_modules/jekyll/test/source/_posts/2014-01-06-permalink-traversal.md
node_modules/jekyll/test/source/_posts/2013-12-20-properties.text
node_modules/jekyll/test/source/_posts/2013-12-17-include-variable-filters.markdown
node_modules/jekyll/test/source/_posts/2013-08-01-mkdn-extension.mkdn
node_modules/jekyll/test/source/_posts/2013-07-22-post-excerpt-with-layout.markdown
node_modules/jekyll/test/source/_posts/2013-05-10-number-category.textile
node_modules/jekyll/test/source/_posts/2013-04-11-custom-excerpt.markdown
node_modules/jekyll/test/source/_posts/2013-03-19-not-a-post.markdown/.gitkeep
node_modules/jekyll/test/source/_posts/2013-01-12-no-layout.textile
node_modules/jekyll/test/source/_posts/2013-01-12-nil-layout.textile
node_modules/jekyll/test/source/_posts/2013-01-02-post-excerpt.markdown
node_modules/jekyll/test/source/_posts/2011-04-12-text-extension.text
node_modules/jekyll/test/source/_posts/2011-04-12-md-extension.md
node_modules/jekyll/test/source/_posts/2010-01-16-override-data.textile
node_modules/jekyll/test/source/_posts/2010-01-09-timezone-override.markdown
node_modules/jekyll/test/source/_posts/2010-01-09-time-override.markdown
node_modules/jekyll/test/source/_posts/2010-01-09-date-override.markdown
node_modules/jekyll/test/source/_posts/2010-01-08-triple-dash.markdown
node_modules/jekyll/test/source/_posts/2009-06-22-no-yaml.textile
node_modules/jekyll/test/source/_posts/2009-06-22-empty-yaml.textile
node_modules/jekyll/test/source/_posts/2009-05-18-tags.textile
node_modules/jekyll/test/source/_posts/2009-05-18-tag.textile
node_modules/jekyll/test/source/_posts/2009-05-18-empty-tags.textile
node_modules/jekyll/test/source/_posts/2009-05-18-empty-tag.textile
node_modules/jekyll/test/source/_posts/2009-03-12-hash-#1.markdown
node_modules/jekyll/test/source/_posts/2009-01-27-no-category.textile
node_modules/jekyll/test/source/_posts/2009-01-27-empty-category.textile
node_modules/jekyll/test/source/_posts/2009-01-27-empty-categories.textile
node_modules/jekyll/test/source/_posts/2009-01-27-category.textile
node_modules/jekyll/test/source/_posts/2009-01-27-categories.textile
node_modules/jekyll/test/source/_posts/2009-01-27-array-categories.textile
node_modules/jekyll/test/source/_posts/2008-12-13-include.markdown
node_modules/jekyll/test/source/_posts/2008-12-03-permalinked-post.textile
node_modules/jekyll/test/source/_posts/2008-11-21-complex.markdown
node_modules/jekyll/test/source/_posts/2008-10-18-foo-bar.markdown
node_modules/jekyll/test/source/_posts/2008-02-02-published.textile
node_modules/jekyll/test/source/_posts/2008-02-02-not-published.textile
node_modules/jekyll/test/source/_plugins/dummy.rb
node_modules/jekyll/test/source/_methods/yaml_with_dots.md
node_modules/jekyll/test/source/_methods/site/initialize.md
node_modules/jekyll/test/source/_methods/site/generate.md
node_modules/jekyll/test/source/_methods/site/_dont_include_me_either.md
node_modules/jekyll/test/source/_methods/sanitized_path.md
node_modules/jekyll/test/source/_methods/escape-+ #%20[].md
node_modules/jekyll/test/source/_methods/configuration.md
node_modules/jekyll/test/source/_methods/_do_not_read_me.md
node_modules/jekyll/test/source/_layouts/simple.html
node_modules/jekyll/test/source/_layouts/post/simple.html
node_modules/jekyll/test/source/_layouts/default.html
node_modules/jekyll/test/source/_includes/sig.markdown
node_modules/jekyll/test/source/_includes/params.html
node_modules/jekyll/test/source/_includes/include.html
node_modules/jekyll/test/source/_drafts/draft-properties.text
node_modules/jekyll/test/source/_data/members.yaml
node_modules/jekyll/test/source/_data/members.json
node_modules/jekyll/test/source/_data/languages.yml
node_modules/jekyll/test/source/_data/categories/dairy.yaml
node_modules/jekyll/test/source/_config.dev.toml
node_modules/jekyll/test/source/.htaccess
node_modules/jekyll/test/source/+/foo.md
node_modules/jekyll/test/source/+/%# +.md
node_modules/jekyll/test/loader.rb
node_modules/jekyll/test/helper.rb
node_modules/jekyll/test/fixtures/front_matter.erb
node_modules/jekyll/test/fixtures/exploit_front_matter.erb
node_modules/jekyll/test/fixtures/broken_front_matter3.erb
node_modules/jekyll/test/fixtures/broken_front_matter2.erb
node_modules/jekyll/test/fixtures/broken_front_matter1.erb
node_modules/jekyll/site/news/releases/index.html
node_modules/jekyll/site/news/index.html
node_modules/jekyll/site/latest_version.txt
node_modules/jekyll/site/js/respond.min.js
node_modules/jekyll/site/js/html5shiv.min.js
node_modules/jekyll/site/index.html
node_modules/jekyll/site/img/octojekyll.png
node_modules/jekyll/site/img/logo-rss.png
node_modules/jekyll/site/img/logo-2x.png
node_modules/jekyll/site/img/jekyll-sticker.jpg
node_modules/jekyll/site/img/footer-logo.png
node_modules/jekyll/site/img/footer-arrow.png
node_modules/jekyll/site/img/article-footer.png
node_modules/jekyll/site/freenode.txt
node_modules/jekyll/site/fonts/fontawesome-webfont.woff
node_modules/jekyll/site/fonts/fontawesome-webfont.ttf
node_modules/jekyll/site/fonts/fontawesome-webfont.svg
node_modules/jekyll/site/fonts/fontawesome-webfont.eot
node_modules/jekyll/site/feed.xml
node_modules/jekyll/site/favicon.ico
node_modules/jekyll/site/css/screen.scss
node_modules/jekyll/site/_sass/_style.scss
node_modules/jekyll/site/_sass/_pygments.scss
node_modules/jekyll/site/_sass/_normalize.scss
node_modules/jekyll/site/_sass/_mixins.scss
node_modules/jekyll/site/_sass/_gridism.scss
node_modules/jekyll/site/_sass/_font-awesome.scss
node_modules/jekyll/site/_posts/2015-01-24-jekyll-3-0-0-beta1-released.markdown
node_modules/jekyll/site/_posts/2015-01-20-jekyll-meet-and-greet.markdown
node_modules/jekyll/site/_posts/2014-12-22-jekyll-2-5-3-released.markdown
node_modules/jekyll/site/_posts/2014-12-17-alfredxing-welcome-to-jekyll-core.md
node_modules/jekyll/site/_posts/2014-11-12-jekyll-2-5-2-released.markdown
node_modules/jekyll/site/_posts/2014-11-08-jekyll-2-5-1-released.markdown
node_modules/jekyll/site/_posts/2014-11-06-jekylls-midlife-crisis-jekyll-turns-2-5-0.markdown
node_modules/jekyll/site/_posts/2014-09-09-jekyll-2-4-0-released.markdown
node_modules/jekyll/site/_posts/2014-08-10-jekyll-2-3-0-released.markdown
node_modules/jekyll/site/_posts/2014-07-29-jekyll-2-2-0-released.markdown
node_modules/jekyll/site/_posts/2014-07-01-jekyll-2-1-1-released.markdown
node_modules/jekyll/site/_posts/2014-06-28-jekyll-turns-21-i-mean-2-1-0.markdown
node_modules/jekyll/site/_posts/2014-06-04-jekyll-stickers-1-dollar-stickermule.markdown
node_modules/jekyll/site/_posts/2014-05-08-jekyll-2-0-3-released.markdown
node_modules/jekyll/site/_posts/2014-05-06-jekyll-turns-2-0-0.markdown
node_modules/jekyll/site/_posts/2014-03-27-jekyll-1-5-1-released.markdown
node_modules/jekyll/site/_posts/2014-03-24-jekyll-1-5-0-released.markdown
node_modules/jekyll/site/_posts/2014-01-13-jekyll-1-4-3-released.markdown
node_modules/jekyll/site/_posts/2013-12-16-jekyll-1-4-2-released.markdown
node_modules/jekyll/site/_posts/2013-12-09-jekyll-1-4-1-released.markdown
node_modules/jekyll/site/_posts/2013-12-07-jekyll-1-4-0-released.markdown
node_modules/jekyll/site/_posts/2013-11-26-jekyll-1-3-1-released.markdown
node_modules/jekyll/site/_posts/2013-11-04-jekyll-1-3-0-released.markdown
node_modules/jekyll/site/_posts/2013-10-28-jekyll-1-3-0-rc1-released.markdown
node_modules/jekyll/site/_posts/2013-09-14-jekyll-1-2-1-released.markdown
node_modules/jekyll/site/_posts/2013-09-06-jekyll-1-2-0-released.markdown
node_modules/jekyll/site/_posts/2013-07-25-jekyll-1-1-2-released.markdown
node_modules/jekyll/site/_posts/2013-07-25-jekyll-1-0-4-released.markdown
node_modules/jekyll/site/_posts/2013-07-24-jekyll-1-1-1-released.markdown
node_modules/jekyll/site/_posts/2013-07-14-jekyll-1-1-0-released.markdown
node_modules/jekyll/site/_posts/2013-06-07-jekyll-1-0-3-released.markdown
node_modules/jekyll/site/_posts/2013-05-12-jekyll-1-0-2-released.markdown
node_modules/jekyll/site/_posts/2013-05-08-jekyll-1-0-1-released.markdown
node_modules/jekyll/site/_posts/2013-05-06-jekyll-1-0-0-released.markdown
node_modules/jekyll/site/_layouts/news_item.html
node_modules/jekyll/site/_layouts/news.html
node_modules/jekyll/site/_layouts/docs.html
node_modules/jekyll/site/_layouts/default.html
node_modules/jekyll/site/_includes/top.html
node_modules/jekyll/site/_includes/section_nav.html
node_modules/jekyll/site/_includes/primary-nav-items.html
node_modules/jekyll/site/_includes/news_item.html
node_modules/jekyll/site/_includes/news_contents_mobile.html
node_modules/jekyll/site/_includes/news_contents.html
node_modules/jekyll/site/_includes/header.html
node_modules/jekyll/site/_includes/footer.html
node_modules/jekyll/site/_includes/docs_ul.html
node_modules/jekyll/site/_includes/docs_option.html
node_modules/jekyll/site/_includes/docs_contents_mobile.html
node_modules/jekyll/site/_includes/docs_contents.html
node_modules/jekyll/site/_includes/anchor_links.html
node_modules/jekyll/site/_includes/analytics.html
node_modules/jekyll/site/_docs/windows.md
node_modules/jekyll/site/_docs/variables.md
node_modules/jekyll/site/_docs/usage.md
node_modules/jekyll/site/_docs/upgrading.md
node_modules/jekyll/site/_docs/troubleshooting.md
node_modules/jekyll/site/_docs/templates.md
node_modules/jekyll/site/_docs/structure.md
node_modules/jekyll/site/_docs/sites.md
node_modules/jekyll/site/_docs/resources.md
node_modules/jekyll/site/_docs/quickstart.md
node_modules/jekyll/site/_docs/posts.md
node_modules/jekyll/site/_docs/plugins.md
node_modules/jekyll/site/_docs/permalinks.md
node_modules/jekyll/site/_docs/pagination.md
node_modules/jekyll/site/_docs/pages.md
node_modules/jekyll/site/_docs/migrations.md
node_modules/jekyll/site/_docs/installation.md
node_modules/jekyll/site/_docs/index.md
node_modules/jekyll/site/_docs/history.md
node_modules/jekyll/site/_docs/github-pages.md
node_modules/jekyll/site/_docs/frontmatter.md
node_modules/jekyll/site/_docs/extras.md
node_modules/jekyll/site/_docs/drafts.md
node_modules/jekyll/site/_docs/deployment-methods.md
node_modules/jekyll/site/_docs/datafiles.md
node_modules/jekyll/site/_docs/contributing.md
node_modules/jekyll/site/_docs/continuous-integration.md
node_modules/jekyll/site/_docs/configuration.md
node_modules/jekyll/site/_docs/collections.md
node_modules/jekyll/site/_docs/assets.md
node_modules/jekyll/site/_data/docs.yml
node_modules/jekyll/site/_config.yml
node_modules/jekyll/site/README.md
node_modules/jekyll/site/CNAME
node_modules/jekyll/site/.npmignore
node_modules/jekyll/script/test
node_modules/jekyll/script/stackprof
node_modules/jekyll/script/rebund
node_modules/jekyll/script/proof
node_modules/jekyll/script/cucumber
node_modules/jekyll/script/console
node_modules/jekyll/script/cibuild
node_modules/jekyll/script/branding
node_modules/jekyll/script/bootstrap
node_modules/jekyll/package.json
node_modules/jekyll/lib/site_template/index.html
node_modules/jekyll/lib/site_template/feed.xml
node_modules/jekyll/lib/site_template/css/main.scss
node_modules/jekyll/lib/site_template/about.md
node_modules/jekyll/lib/site_template/_sass/_syntax-highlighting.scss
node_modules/jekyll/lib/site_template/_sass/_layout.scss
node_modules/jekyll/lib/site_template/_sass/_base.scss
node_modules/jekyll/lib/site_template/_posts/0000-00-00-welcome-to-jekyll.markdown.erb
node_modules/jekyll/lib/site_template/_layouts/post.html
node_modules/jekyll/lib/site_template/_layouts/page.html
node_modules/jekyll/lib/site_template/_layouts/default.html
node_modules/jekyll/lib/site_template/_includes/header.html
node_modules/jekyll/lib/site_template/_includes/head.html
node_modules/jekyll/lib/site_template/_includes/footer.html
node_modules/jekyll/lib/site_template/_config.yml
node_modules/jekyll/lib/site_template/.npmignore
node_modules/jekyll/lib/jekyll/version.rb
node_modules/jekyll/lib/jekyll/utils.rb
node_modules/jekyll/lib/jekyll/url.rb
node_modules/jekyll/lib/jekyll/tags/post_url.rb
node_modules/jekyll/lib/jekyll/tags/include.rb
node_modules/jekyll/lib/jekyll/tags/highlight.rb
node_modules/jekyll/lib/jekyll/stevenson.rb
node_modules/jekyll/lib/jekyll/static_file.rb
node_modules/jekyll/lib/jekyll/site.rb
node_modules/jekyll/lib/jekyll/renderer.rb
node_modules/jekyll/lib/jekyll/related_posts.rb
node_modules/jekyll/lib/jekyll/regenerator.rb
node_modules/jekyll/lib/jekyll/publisher.rb
node_modules/jekyll/lib/jekyll/post.rb
node_modules/jekyll/lib/jekyll/plugin_manager.rb
node_modules/jekyll/lib/jekyll/plugin.rb
node_modules/jekyll/lib/jekyll/page.rb
node_modules/jekyll/lib/jekyll/mime.types
node_modules/jekyll/lib/jekyll/log_adapter.rb
node_modules/jekyll/lib/jekyll/liquid_extensions.rb
node_modules/jekyll/lib/jekyll/layout_reader.rb
node_modules/jekyll/lib/jekyll/layout.rb
node_modules/jekyll/lib/jekyll/generator.rb
node_modules/jekyll/lib/jekyll/frontmatter_defaults.rb
node_modules/jekyll/lib/jekyll/filters.rb
node_modules/jekyll/lib/jekyll/external.rb
node_modules/jekyll/lib/jekyll/excerpt.rb
node_modules/jekyll/lib/jekyll/errors.rb
node_modules/jekyll/lib/jekyll/entry_filter.rb
node_modules/jekyll/lib/jekyll/draft.rb
node_modules/jekyll/lib/jekyll/document.rb
node_modules/jekyll/lib/jekyll/deprecator.rb
node_modules/jekyll/lib/jekyll/convertible.rb
node_modules/jekyll/lib/jekyll/converters/markdown/redcarpet_parser.rb
node_modules/jekyll/lib/jekyll/converters/markdown/rdiscount_parser.rb
node_modules/jekyll/lib/jekyll/converters/markdown/maruku_parser.rb
node_modules/jekyll/lib/jekyll/converters/markdown/kramdown_parser.rb
node_modules/jekyll/lib/jekyll/converters/markdown.rb
node_modules/jekyll/lib/jekyll/converters/identity.rb
node_modules/jekyll/lib/jekyll/converter.rb
node_modules/jekyll/lib/jekyll/configuration.rb
node_modules/jekyll/lib/jekyll/commands/serve.rb
node_modules/jekyll/lib/jekyll/commands/new.rb
node_modules/jekyll/lib/jekyll/commands/help.rb
node_modules/jekyll/lib/jekyll/commands/doctor.rb
node_modules/jekyll/lib/jekyll/commands/clean.rb
node_modules/jekyll/lib/jekyll/commands/build.rb
node_modules/jekyll/lib/jekyll/command.rb
node_modules/jekyll/lib/jekyll/collection.rb
node_modules/jekyll/lib/jekyll/cleaner.rb
node_modules/jekyll/lib/jekyll.rb
node_modules/jekyll/jekyll.gemspec
node_modules/jekyll/features/support/overview.rb
node_modules/jekyll/features/support/env.rb
node_modules/jekyll/features/step_definitions/jekyll_steps.rb
node_modules/jekyll/features/site_data.feature
node_modules/jekyll/features/site_configuration.feature
node_modules/jekyll/features/rendering.feature
node_modules/jekyll/features/post_excerpts.feature
node_modules/jekyll/features/post_data.feature
node_modules/jekyll/features/plugins.feature
node_modules/jekyll/features/permalinks.feature
node_modules/jekyll/features/pagination.feature
node_modules/jekyll/features/markdown.feature
node_modules/jekyll/features/incremental_rebuild.feature
node_modules/jekyll/features/include_tag.feature
node_modules/jekyll/features/frontmatter_defaults.feature
node_modules/jekyll/features/embed_filters.feature
node_modules/jekyll/features/drafts.feature
node_modules/jekyll/features/data.feature
node_modules/jekyll/features/create_sites.feature
node_modules/jekyll/features/collections.feature
node_modules/jekyll/bin/jekyll
node_modules/jekyll/benchmark/symbol-to-proc
node_modules/jekyll/benchmark/string-replacement
node_modules/jekyll/benchmark/string-concat
node_modules/jekyll/benchmark/sequential-assignment
node_modules/jekyll/benchmark/proc-call-vs-yield
node_modules/jekyll/benchmark/jekyll-sanitize-path
node_modules/jekyll/benchmark/hash-fetch
node_modules/jekyll/benchmark/flat-map
node_modules/jekyll/Rakefile
node_modules/jekyll/README.markdown
node_modules/jekyll/LICENSE
node_modules/jekyll/History.markdown
node_modules/jekyll/Gemfile
node_modules/jekyll/CONTRIBUTING.markdown
node_modules/jekyll/.travis.yml
node_modules/jekyll/.npmignore
